<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoGo"
        tools:targetApi="35">
        <meta-data
            android:name="com.google.android.gms.auth.api.signin"
            android:value="355046832272-65t80vb3l34ocnif6dtk636abls0vve8.apps.googleusercontent.com" />

        <activity
            android:name=".ui.WeightGainActivity"
            android:exported="false"
            android:theme="@style/Theme.GoGo" />
        <activity
            android:name=".ui.WeightGoalSelectionActivity"
            android:exported="false"
            android:theme="@style/Theme.GoGo" />
        <activity
            android:name=".ui.ReminderSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.GoGo" />
        <activity
            android:name=".ui.BodyFatActivity"
            android:exported="false"
            android:theme="@style/Theme.GoGo" />
        <activity
            android:name=".ui.WeightLossActivity"
            android:exported="false"
            android:theme="@style/Theme.GoGo" />
        <activity
            android:name=".ui.TermsActivity"
            android:exported="false"
            android:theme="@style/Theme.GoGo" />
        <activity
            android:name=".ui.AboutUsActivity"
            android:exported="false"
            android:theme="@style/Theme.GoGo" />
        <activity
            android:name=".ui.SettingActivity"
            android:exported="false"
            android:theme="@style/Theme.GoGo" />
        <activity
            android:name=".ui.UpdateProfileInfoActivity"
            android:exported="false"
            android:theme="@style/Theme.GoGo" />
        <activity
            android:name=".ui.ViewProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.GoGo" />
        <activity
            android:name=".ui.CreateProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.GoGo" />
        <activity
            android:name=".ui.HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.GoGo" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.SleepInputActivity" />
        <activity android:name=".ui.SleepSuggestionActivity" />
        <activity android:name=".ui.SleepHistoryActivity" />
        <activity android:name=".ui.WakeUpInputActivity" />
        <activity android:name=".ui.SleepActivity" />

        <activity
            android:name=".activities.HealthMenuActivity"
            android:exported="false"
            android:theme="@style/Theme.GoGo" />
        <activity
            android:name=".activities.ExerciseAddActivity"
            android:exported="false"
            android:theme="@style/Theme.GoGo" />
        <activity
            android:name=".activities.ExerciseEditActivity"
            android:exported="false"
            android:theme="@style/Theme.GoGo" />
        <activity
            android:name=".activities.ExerciseListActivity"
            android:exported="false"
            android:theme="@style/Theme.GoGo" />
        <activity
            android:name=".activities.ExercisePlanActivity"
            android:exported="false"
            android:theme="@style/Theme.GoGo" />
        <activity
            android:name=".activities.ExercisePlanDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.GoGo" />
        <activity
            android:name=".activities.ExerciseStatsActivity"
            android:exported="false"
            android:theme="@style/Theme.GoGo" />
        <activity
            android:name=".activities.SuggestPlanActivity"
            android:exported="false"
            android:theme="@style/Theme.GoGo" />

        <service
            android:name=".service.NotificationService"
            android:foregroundServiceType="dataSync"
            android:exported="false"
            android:enabled="true" />

        <receiver
            android:name=".service.NotificationService$NotificationReceiver"
            android:exported="false" />

        <receiver android:name=".service.ReminderReceiver" android:exported="false" />
    </application>
</manifest>